body{background-image:url("descarga\ \(1\).jpeg");}
h1{color: beige;font-style: italic;}
p{ color: rgb(214, 214, 21); font-size: 20px; font-style: italic;}
li{font-style: italic;color: rgb(214, 214, 21); font-size: 20px;}
ul{font-style: italic;color: rgb(214, 214, 21); font-size: 20px;}
