body{background-image:url("descarga\ \(1\).jpeg");}
h1{color: beige;font-style: italic;}
caption{ color: beige; font-size: 40px; font-style: italic;}
td{font-style: italic;color: rgb(233, 14, 178); font-size: 20px;}
table, td{border: 1px solid beige;}
h2{color: beige;font-style: italic;}
.tabla1{text-align: right;}
pre{ color: rgb(214, 214, 21); font-size: 20px; font-style: italic;}



